<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">This i1234s a LOGIN, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses1234 utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead"></p>
        <form action="http://localhost:3000/login" method="post">
            <!-- user input-->
            Username:<br>
            <input type="text" name="username" placeholder="Username" required><br><br>
            Password:<br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <!-- submit button -->
            <input type="submit" value="login">
          </form>
    </div>
  </main>
  

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>